<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="bag_file" default="/home/davide/data/voxgraph_gonzen_demo/long_loop_ready_to_use.bag"/>

    <node name="player" pkg="rosbag" type="play" output="screen" args="-r 1.0 -s 0 $(arg bag_file)"/>

    <node name="planner_node" pkg="active_3d_planning_app_submap_exploration" type="submap_exploration_planner_node" output="screen">
		  <!-- Voxgraph Map -->
      <param name="use_tf_transforms" value="false" />	
      <param name="tsdf_needed" value="false" />

    	<!-- General Settings -->
      <remap from="odometry" to="/penguin/ground_truth/odometry" />

      <rosparam>
                verbose: false
                submap_creation_interval: 10
                pointcloud_topic: "/penguin/os1_node/points"
                subscriber_queue_length: 1000
                mission_frame: "odom"
                odom_frame: "odom"
                base_link_frame: "imu"
                odom_frame_corrected: "odom_corrected"
                base_link_frame_corrected: "robot_corrected"
                sensor_frame_corrected: "sensor_corrected"
                tsdf_integrator:
                    tsdf_voxel_size: 0.20
                    truncation_distance: 0.60
                    max_ray_length_m: 16.0
                    use_const_weight: true
                    use_weight_dropoff: true
                    use_sparsity_compensation_factor: true
                    sparsity_compensation_factor: 10.0
                    integration_order_mode: "sorted"
                measurements:
                    submap_registration:
                        enabled: true
                        sampling_ratio: 0.05
                        registration_method: "explicit_to_implicit"
                        information_matrix:
                            x_x:     1.0
                            y_y:     1.0
                            z_z:     1.0
                            yaw_yaw: 1.0
                    odometry:
                        enabled: true
                        information_matrix:
                            x_x:     10.0
                            y_y:     10.0
                            z_z:     2500.0
                            yaw_yaw: 2500.0
                    height:
                        enabled: false
                        information_zz: 2500.0
                    loop_closure:
                        information_matrix:
                            x_x:     1.0
                            y_y:     1.0
                            z_z:     0.1
                            yaw_yaw: 0.0001
            </rosparam>
      <!-- Build the Planner by Configuration -->    
      <rosparam command="load" file="$(find active_3d_planning_app_submap_exploration)/cfg/planners/global_local_planner_RRTStar.yaml"/>
    </node>  


</launch>
