<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="bag_file" default="/media/davide/DATA/data/submap_exploration_planner/NoDrift/Maze/tmp_bags/tmp_bag_2020-03-06-17-44-44.bag"/>

    <node name="player" pkg="rosbag" type="play" output="screen" args="-r 20.0 -s 0 $(arg bag_file)"/>

       <node name="distance_run_node" pkg="active_3d_planning_app_submap_exploration" type="distance_run_node" output="screen" />

</launch>
